[*.cs]

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none
